<div class="root">
  <div class="cardCss card" style="width: 21rem;">
    <img class="img card-img-top" src={{image}} alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Doctor {{name}}</h5>
      <p class="card-text">{{majoring}}</p>
      <p class="card-text">
        <fa-icon [icon]="faDollarSign"></fa-icon> {{fees}} EGP
      </p>
      <p class="card-text">
        <fa-icon [icon]="faPhone"></fa-icon> {{phone}}
      </p>
      <p class="card-text">
        <fa-icon [icon]="faMapMarker"></fa-icon> {{place}}
      </p>


      <button class="btn btn-primary " (click)="change()" [disabled]="isTrue">
        
        {{btnTitle}}
        <fa-icon *ngIf="!isTrue"[icon]="faChevronRight" ></fa-icon>
         <fa-icon *ngIf="isTrue"
          [icon]="faSpinner" [spin]="true"></fa-icon></button>

    </div>
  </div>
</div>